html, body {
  overflow: hidden;
  font-family: Segoe UI, Helvetica Neue, Helvetica, Lucida Grande, Arial, Ubuntu, Cantarell, Fira Sans, sans-serif;
}

body {
  padding: 0;
  margin: 0;
  background-color: #000;
}

#dom-renderer {
  color: #fff;
  pointer-events: none;
}

#dom-renderer div {
  position: absolute;
  pointer-events: all;
  cursor: pointer;
  font-size: 1.8rem;
  color: #fff;
}

/*
#dom-renderer div:after {
  content: "\d7";
}
*/